 h3, p {
  font-family: 'Open Sans Condensed', sans-serif;
 }

.step {
  padding-bottom: 5em;
  position: relative;
}

.right {
  padding-left: 30px;
}

.left {
  padding-right: 30px;
}

.step:after {
  border: 2px solid $green;
  position: absolute;
  left: calc(50% - 2px);
  height: 100%;
  content: "";
  top: 0;
}

.step-label {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  p {
    padding-top: 10px;
    margin: 0;
    padding: 5px;
    border: 3px solid $green;
    height: 60px;
    width: 60px;
    font-size: 14px;
    color: $gray;
    font-weight: bold;
    background-color: $white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
}

#index-title {
  margin-bottom: 5px;
  h2 {
    padding-bottom: 15px;
  }
}

#selection_food_type_1 {
  margin-bottom: 15px;
  margin-top: 20px;
  margin-right: 15px;
}

#selection_food_type_2 {
  margin-bottom: 15px;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

body {
  background-color: #fafafa;
}

#show-submit {
  background: #eaeaea;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 0px;
  z-index: 20;
  right: 0;
}

#button-eat {
  margin: 5px;
  padding: 0 20px;
  border-radius: 2px;
  line-height: 44px;
  margin-bottom: 50px;
  background-color:$gray-base;
  color: $green;
  font-size: 20px;
  border: none;
}

#button-eat:focus {
  outline: none;
}

#button-eat:hover {
  color: $gray-base;
  background: $green;
}

#show-submit.visible {
  height: 56px;
  transition: height ease 0.3s;
}

.relativeness {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

#restaurants-list.container {
  padding-top: 25px;
  margin-top: 0;
}

.index-page .form-inline .form-control {
    width: $select-width;
}

div .nice-select.form-control.select.open {
  background: $green;
  border-left-color: $light-gray;
}

.nice-select.form-control.select ul {
  position: absolute;
  top: 100%;
  left: -4px; /* move content -4px because of container left border */
  padding: 5px 0px;
  border-left: 4px solid $light-gray;
  background: #fff;
  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

.nice-select.form-control.select ul li { font-size: 0.9em; }

.nice-select.form-control.select ul li:hover {
  color: white;
  font-weight: bold;
  background: $green;
}


.select-food-type .form-group {
  flex-grow: 1;
  display: flex;
  min-width: 60%;
  align-items: center;
  justify-content: center;
}

.nice-select.select.open ul {
  display: block;
}

.navbar-wagon.navbar-wagon-fixed.index-page {
  position: fixed;
  height: 110px;

  .navbar-wagon-brand {
    position: absolute;
    // left: 20px;
    display: flex;
    align-items: center;
  }

}

div .select-food-type {
  flex-grow: 1;
  margin-top: 15px;
}

.header-right, .header-left {
  padding: 5px 0;
  font-size: 14px;
}

.header-wrapper {
  height: 48px;
}

select strong p {
  padding: 5px 0;
}

.and-together {
  padding: 50px;
}
