.container-fluid {
  padding-left: 50px;
  padding-right: 50px;
}

#show-general {
  margin-top: 130px;
}

.restaurant-menu-left, .restaurant-menu-right {
  display: flex
}

.restaurant-menu-left {
  margin-right: 15px;
}

.restaurant-menu-right {
  margin-left: 15px;
}

.restaurants.show .banner {
  align-items: flex-start;
}
