#show-general {
  margin-top: 100px;
}

.restaurant-menu-left, .restaurant-menu-right {
  display: flex
}

.restaurant-menu-left {
  margin-right: 15px;
}

.restaurant-menu-right {
  margin-left: 15px;
}
