.container-fluid {
  padding-left: 50px;
  padding-right: 50px;
}

#show-general {
  margin-top: 100px;
}

.menu-list {
  max-height: 560px;
  overflow: scroll;
  border: 1px solid #EBEBEB;
}

.restaurant-menu-left, .restaurant-menu-right {
  display: flex
}

.restaurant-menu-left {
  margin-right: 15px;
}

.restaurant-menu-right {
  margin-left: 15px;
}
