<div class="navbar-wagon-show navbar-wagon-fixed">

  <!-- Logo -->
  <%= link_to root_path, class: "navbar-show-brand" do %>
    <%= image_tag "eatogether-logo3.png" %>
  <% end %>

  <!-- Food types - fixed -->
  <div class="nav-food-type">
      <p>
        Let's check the menus and share
        <span class="navbar-food-type"><%= params[:food_type_1]%></span>
        <b>&</b>
        <span class="navbar-food-type"><%= params[:food_type_2]%></span>
        cuisine together !
      </p>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Button (call-to-action) -->
    <button type="button" class="navbar-show-item navbar-show-button" data-toggle="modal" data-target="#Modal">
      Pass your order
    </button>
  </div>
</div>
