<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo1.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Button (call-to-action) -->
    <button type="button" class="navbar-wagon-item navbar-wagon-button" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
    </button>
  </div>
</div>
