<form class="form" action="<%= restaurants_path %>" method="get">
  <div class="form-inline">
  <div class="form-group">
         <select class="selectpicker" multiple title="Choose one of the following...">
            <option>Burgers</option>
            <option>Français</option>
            <option>Italien</option>
          </select>

  </div>
  <div class="form-group">
    <label for="address" ></label>
    <input type="text" class="form-control" id="address" name="address" placeholder="Where ?">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="exampleInputName2" placeholder="His food style">
  </div>
  </div>
  <button type="submit" class="btn btn-primary btn-lg">EAT NOW</button>
</form>
