<form class="form" action="<%= restaurants_path %>" method="get">
  <div class="form-inline">

  <div class="form-group eat">
         <select class="form-control" name="food_type_1">
            <option selected>My food type</option>
            <% food_types.sort.each do |key, value| %>
              <option><%= key %></option>
            <% end %>
          </select>
  </div>
  <div class="form-group eat">
    <label for="address" ></label>
    <input type="text" class="form-control" id="address" name="address" placeholder="Where ?">

  </div>
  <div class="form-group eat">
       <select class="form-control" name="food_type_2">
            <option selected>His/Her food type</option>
            <% food_types.sort.each do |key, value| %>
              <option><%= key %></option>
            <% end %>
        </select>
  </div>

    <button type="submit" class="btn btn-primary btn-lg eat" id="button-eat">EAT NOW</button>
  </div>
</form>


<!-- <input type="text" class="form-control" id="exampleInputName2" placeholder="His food style"> -->
