<form class="form" id="search-form" action="<%= restaurants_path %>" method="get">
  <div class="form-inline" style="font-size: 0;">

    <div class="form-group eat">
      <select class="selectize" name="food_type_1">
        <option disable selected>My cuisine...</option>
        <% food_types.sort.each do |key, value| %>
          <option><%= key %></option>
        <% end %>
      </select>
    </div>

      <label for="address"></label>
      <input type="text" class="form-control eat" id="user_input_autocomplete_address address" name="address" placeholder="Where ?">

    <div class="form-group eat">
      <select class="selectize" name="food_type_2">
        <option selected>His/Her cuisine...</option>
        <% food_types.sort.each do |key, value| %>
          <option><%= key %></option>
        <% end %>
      </select>
    </div>

    <button type="submit" class="btn btn-primary btn-lg" id="button-eat">EAT NOW</button>
  </div>
</form>


<!-- <input type="text" class="form-control" id="exampleInputName2" placeholder="His food style"> -->
