<div class="banner" style="background-image:url('<%= image_path('eatogether-home1.png') %>');">
  <div class="container" id="header">
    <div class="row" id="home-2">
      <div class="col-xs-12" id="home">
        <div class="home">
          <div class="animation">
            <p>
              <span data-words="Italian|French|Burgers|Sushi|Asian|Vegan|Bagels|Tacos|Vietenamese|Indian|International"></span>
              <b>&</b>
              <span data-words="International|Sushi|Tacos|Indian|Bagels|Pizza|Asian|Burgers|Asian|French|Vegan"></span>
              Together !
            </p>
          </div>
          <div class="banner-content">
            <%= render "search_form" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
