<div class="banner" style="background-image: url('<%= image_path('home-photo.jpg') %>');">
  <div class="banner-content">
    <h1>EatTogether</h1>
    <%= render "form" %>
  </div>
</div>


<div class="wrapper" id= "features-container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="text-center padded features">
            <i class="fa fa-commenting-o fa-5x" aria-hidden="true" id="color_icon1"></i>
            <h3>Stop compromising</h3>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="text-center padded features">
            <i class="fa fa-cutlery fa-5x" aria-hidden="true" id="color_icon2"></i>
            <h3>Your food.Your rules</h3>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="text-center padded features">
            <i class="fa fa-desktop fa-5x" aria-hidden="true" id="color_icon3"></i>
            <h3>One screen, two orders</h3>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="text-center padded features">
            <i class="fa fa-clock-o fa-5x" aria-hidden="true" id="color_icon4"></i>
            <h3>Perfect delivery timming</h3>
          </div>
        </div>
      </div>
    </div>

<footer class = "text-center">
<div class="row">
      <div class="col-xs-4">
        <ul class="list-inline">
          <li><a href=""><i class="fa fa-youtube fa-2x"></i></a></li>
          <li><a href=""><i class="fa fa-instagram fa-2x"></i></a></li>
          <li><a href=""><i class="fa fa-facebook fa-2x"></i></a></li>
          <li><a href=""><i class="fa fa-twitter fa-2x"></i></a></li>
        </ul>
      </div>
      <div class="col-xs-4 text-center">
        <h5>Made withe @Le wagon</h5>
      </div>
    </div>
</footer>
