<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


<div class="banner" style="background-image: linear-gradient(-225deg, rgba(245,251,239,1) 0%, rgba(245,251,239,1) 50%);">
  <div class="container">
    <div class="row" id="home-2">
      <div class="col-xs-12" id="home">
        <div class="home">
          <div class="animation">
          <p>
              <span data-words="Italian|French|Burgers|Sushi|Asian|Vegan|Bagels|Tacos|Vietenamese|Indian|International|"></span>
              <b>&</b>
              <span data-words="International|Sushi|Tacos|Indian|Bagels|Pizza|Asian|Burgers|Asian|French|Vegan|"></span>
              together !
            </p>
          </div>
          <div class="banner-content">
            <%= render "form" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
