/* Navbar show modal */

.modal-dialog{
margin-top: 15%;
}

.close {
 margin-top: -25px;
}

.modal-thank {
  margin-top: 5px;
}

// .modal-title{
//   text-align: cente;
// }

.restaurant-summary {

}

.modal-li {
  font-size: 15px;
  font-weight: lighter;
  margin: 10px 0px 10px 0px;
  list-style: none;
  text-align: left;
}
