<div class="container">
  <div class="col-xs-12">
    <div class="menu-list">
      <div class="menu-categories">
        <div class="menu-categories-vendor-logo">
          <img class="menu-categories-vendor-logo-img" src="https://ir0.mobify.com/png/195/195/http://euvolo-images.foodora.com/assets/production/fr/images/vendors/s5lg.png?v=20160126094308">
        </div>
        <div class="menu-categories-list-wrapper">
          <ul>
            <li><a href="#" class="menu-categories-list-item anchor-navigation">Pizze napolitaines</a></li>
            <li><a href="#" class="menu-categories-list-item anchor-navigation">Autres plats</a></li>
            <li><a href="#" class="menu-categories-list-item anchor-navigation">Desserts</a></li>
          </ul>
        </div>
      </div>
      <section class="menu-items-wrapper">
        <div class="menu-items">
          <div class="dish-category-header">
            <h2 class="dish-category-title text-center">Pizze napolitaines</h2>
          </div>
          <div class="dish-list">
            <li>
              <div class="dish-card hvr-border-fade">
                <div class="dish-info">
                  <h3 class="dish-name">Margerita di Bufala</h3>
                  <p class="dish-description">Tomate, Mozzarella di Bufala(AOP), Basilic, Olives noires</p>
                </div>
                <footer class="dish-price">
                  <span class="price p-price">9,00 €</span>
                </footer>
              </div>
            </li>
            <li>
              <div class="dish-card">
                <div class="dish-info">
                  <h3 class="dish-name">Napolitana</h3>
                  <p class="dish-description">Tomate, Mozzarella, Anchois, Câpres, Olives noires</p>
                </div>
                <footer class="dish-price">
                  <span class="price p-price">10,00 €</span>
                </footer>
              </div>
            </li>
            <li>
              <div class="dish-card hvr-shadow-radial">
                <div class="dish-info">
                  <h3 class="dish-name">Regina</h3>
                  <p class="dish-description">Tomate, Chiffonade de jambon, Champignons, Oeuf</p>
                </div>
                <footer class="dish-price">
                  <span class="price p-price">12,50 €</span>
                </footer>
              </div>
            </li>
            <li>
              <div class="dish-card">
                <div class="dish-info">
                  <h3 class="dish-name">Calzone</h3>
                  <p class="dish-description">Tomate, Chiffonade de jambon, Champignons, Oeuf - Pizza en chausson</p>
                </div>
                <footer class="dish-price">
                  <span class="price p-price">13,20 €</span>
                </footer>
              </div>
            </li>
            <li>
              <div class="dish-card">
                <div class="dish-info">
                  <h3 class="dish-name">Melanzana</h3>
                  <p class="dish-description">Tomate, Mozzarella, Aubergines grillées, Basilic, Olives noires</p>
                </div>
                <footer class="dish-price">
                  <span class="price p-price">14,00 €</span>
                </footer>
              </div>
            </li>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

