<div class="col-xs-12">
  <div class="menu-list">
    <div class="menu-categories">
      <div class="menu-categories-vendor-logo"></div>
      <div class="menu-categories-list-wrapper"></div>
    </div>
    <section class="menu-items-wrapper">
      <div class="menu-items">
        <%= @foodora_restaurant_menu.each do |menu|%>
          <div class="dish-category-header">
            <h2 class="dish-category-title">Title</h2>
          </div>
          <div class="dish-list">

          </div>
        <% end %>
      </div>
    </section>
  </div>
</div>

