
  <div class="restaurant-card" data-step="<%= step_for(resto, provider) %>" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= resto[:photo_url] %>')">
    <div class="card-name"><h4><%= resto[:name] %></h4></div>
    <%= image_tag avatar, class: "card-user avatar avatar-delivery" %>

  <div class="trip-ranking">
    <div class="overall"><p><strong>Overall:</strong> 4,5/5</p></div>
    <div class="food-ranking"><p><strong>Food ranking:</strong> 3/5</p></div>
    <div class="quality-price"><p><strong>Quality/price:</strong> 5/5</p></div>
  </div>
  </div>
  </div>


