<div class="empty-no-match fix-<%= place %>" id="no-match-wrapper-<%= position %>" style="display:hidden">
  <div class="no-match-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path('no_match.jpg') %>')">
    <div class="no-match-description">
      <p>There's no match for this delivery time, check below !</p>
    </div>
  </div>
</div>
