<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h2>Deliveroo's restaurants list</h2>
    </div>
    <% @deliveroo_restaurants.each do |resto| %>
      <div class="col-xs-12">
        <div class="restaurant-card"   style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('')">
          <div class="card-name"><h4><%= resto[:name] %></h4></div>
          <div class="card-description"><p><%= resto[:food_type].join(', ') %></p></div>

          <% avatar = "deliveroo2.png" %>
          <%= image_tag avatar, class: "card-user avatar avatar-delivery" %>
          <%= link_to '', root_path, class: "card-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

