<div class="col-xs-12">
  <div class="menu-list">
    <div class="menu-categories">
      <div class="menu-categories-vendor-logo">
        <img class="menu-categories-vendor-logo-img" src="https://ir0.mobify.com/png/195/195/http://euvolo-images.foodora.com/assets/production/fr/images/vendors/s2of.png?v=20160303182837">
      </div>
      <div class="menu-categories-list-wrapper">
        <ul>
          <li><a href="" class="menu-categories-list-item anchor-navigation"></a></li>
          <li><a href="" class="menu-categories-list-item anchor-navigation"></a></li>
          <li><a href="" class="menu-categories-list-item anchor-navigation"></a></li>
        </ul>
      </div>
    </div>
    <section class="menu-items-wrapper">
      <div class="menu-items">
        <div class="dish-category-header">
          <h2 class="dish-category-title">Title</h2>
        </div>
        <div class="dish-list">
          <li>
            <div class="dish-card">
              <div class="dish-info"></div>
              <footer class="dish-price"></footer>
            </div>
          </li>
          <li>
            <div class="dish-card">
              <div class="dish-info"></div>
              <footer class="dish-price"></footer>
            </div>
          </li>
          <li>
            <div class="dish-card">
              <div class="dish-info"></div>
              <footer class="dish-price"></footer>
            </div>
          </li>
          <li>
            <div class="dish-card">
              <div class="dish-info"></div>
              <footer class="dish-price"></footer>
            </div>
          </li>
          <li>
            <div class="dish-card">
              <div class="dish-info"></div>
              <footer class="dish-price"></footer>
            </div>
          </li>
        </div>
      </div>
    </section>
  </div>
</div>

