<div class="container">
  <div class="col-xs-12">
    <div class="menu-list">
      <div class="menu-categories">
        <div class="menu-categories-vendor-logo">
          <img class="menu-categories-vendor-logo-img" src="https://ir0.mobify.com/png/195/195/http://euvolo-images.foodora.com/assets/production/fr/images/vendors/s2of.png?v=20160303182837">
        </div>
        <div class="menu-categories-list-wrapper">
          <ul>
            <li><a href="#" class="menu-categories-list-item anchor-navigation">Burgers</a></li>
            <li><a href="#" class="menu-categories-list-item anchor-navigation">Salades</a></li>
            <li><a href="#" class="menu-categories-list-item anchor-navigation">Desserts</a></li>
          </ul>
        </div>
      </div>
      <section class="menu-items-wrapper">
        <div class="menu-items">
          <div class="dish-category-header">
            <h2 class="dish-category-title">Title</h2>
          </div>
          <div class="dish-list">
            <li>
              <div class="dish-card">
                <div class="dish-info">
                  <h3 class="dish-name">Classis</h3>
                  <p>Pain aux céréales, steak façon bouchère VBF, cheddar anglais maturé 9 mois, salade de saison, rondelles de tomates fraîches et oignons rouges émincés, ketchup et moutarde à l'ancienne</p>
                </div>
                <footer class="dish-price">10 €</footer>
              </div>
            </li>
            <li>
              <div class="dish-card">
                <div class="dish-info">
                  <h3 class="dish-name">Bacon</h3>
                  <p>Pain aux céréales, steak façon bouchère VBF, cheddar anglais maturé 9 mois, salade de saison, rondelles de tomates fraîches et oignons rouges émincés, ketchup et moutarde à l'ancienne</p>
                </div>
                <footer class="dish-price"><p id="price">12 €</p></footer>
              </div>
            </li>
            <li>
              <div class="dish-card">
                <div class="dish-info">
                  <h3 class="dish-name">Cheddar</h3>
                  <p>Pain aux céréales, steak façon bouchère VBF, cheddar anglais maturé 9 mois, salade de saison, rondelles de tomates fraîches et oignons rouges émincés, ketchup et moutarde à l'ancienne</p>
                </div>
                <footer class="dish-price">13 €</footer>
              </div>
            </li>
            <li>
              <div class="dish-card">
                <div class="dish-info">
                  <h3 class="dish-name">Blue and Figs</h3>
                  <p>Pain aux céréales, steak façon bouchère VBF, cheddar anglais maturé 9 mois, salade de saison, rondelles de tomates fraîches et oignons rouges émincés, ketchup et moutarde à l'ancienne</p>
                </div>
                <footer class="dish-price">15 €</footer>
              </div>
            </li>
            <li>
              <div class="dish-card">
                <div class="dish-info">
                  <h3 class="dish-name">Toma</h3>
                  <p>Pain aux céréales, steak façon bouchère VBF, cheddar anglais maturé 9 mois, salade de saison, rondelles de tomates fraîches et oignons rouges émincés, ketchup et moutarde à l'ancienne</p>
                </div>
                <footer class="dish-price">15 €</footer>
              </div>
            </li>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

