<%= render 'restaurant_show' %>


<!--
<div class="menu-list">
  <div class="menu-categories">
    <div class="menu-categories-vendor-logo">
      <img class="menu-categories-vendor-logo-img" src="https://ir0.mobify.com/png/195/195/http://euvolo-images.foodora.com/assets/production/fr/images/vendors/s2of.png?v=20160303182837">
    </div>
    <div class="menu-categories-list-wrapper">
      <ul>
        <li><a href="#burgers" class="menu-categories-list-item anchor-navigation">Burgers</a></li>
        <li><a href="#salades" class="menu-categories-list-item anchor-navigation">Salades</a></li>
        <li><a href="#desserts" class="menu-categories-list-item anchor-navigation">Desserts</a></li>
      </ul>
    </div>
  </div>
  <section class="menu-items-wrapper">
    <div class="menu-items">
      <div class="dish-category-header">
        <h2 class="dish-category-title text-center" id="burgers">Burgers</h2>
      </div>
      <div class="dish-list">
        <li>
          <div class="dish-card">
            <div class="dish-info">
              <h3 class="dish-name">Classic</h3>
              <p class="dish-description">Pain aux céréales, steak façon bouchère VBF, cheddar anglais maturé 9 mois, salade de saison, rondelles de tomates fraîches et oignons rouges émincés, ketchup et moutarde à l'ancienne</p>
            </div>
            <footer class="dish-price">
              <span class="price p-price">10,00 €</span>
            </footer>
          </div>
        </li>
        <li>
          <div class="dish-card">
            <div class="dish-info">
              <h3 class="dish-name">Bacon</h3>
              <p class="dish-description">Pain aux céréales, steak façon bouchère VBF, cheddar anglais maturé 9 mois, salade de saison, rondelles de tomates fraîches et oignons rouges émincés, ketchup et moutarde à l'ancienne</p>
            </div>
            <footer class="dish-price">
              <span class="price p-price">12,00 €</span>
            </footer>
          </div>
        </li>
        <li>
          <div class="dish-card hvr-shadow-radial">
            <div class="dish-info">
              <h3 class="dish-name">Cheddar</h3>
              <p class="dish-description">Pain aux céréales, steak façon bouchère VBF, cheddar anglais maturé 9 mois, salade de saison, rondelles de tomates fraîches et oignons rouges émincés, ketchup et moutarde à l'ancienne</p>
            </div>
            <footer class="dish-price">
              <span class="price p-price">13,50 €</span>
            </footer>
          </div>
        </li>
        <li>
          <div class="dish-card">
            <div class="dish-info">
              <h3 class="dish-name">Blue and Figs</h3>
              <p class="dish-description">Pain aux céréales, steak façon bouchère VBF, cheddar anglais maturé 9 mois, salade de saison, rondelles de tomates fraîches et oignons rouges émincés, ketchup et moutarde à l'ancienne</p>
            </div>
            <footer class="dish-price">
              <span class="price p-price">14,20 €</span>
            </footer>
          </div>
        </li>
        <li>
          <div class="dish-card">
            <div class="dish-info">
              <h3 class="dish-name">Toma</h3>
              <p class="dish-description">Pain aux céréales, steak façon bouchère VBF, cheddar anglais maturé 9 mois, salade de saison, rondelles de tomates fraîches et oignons rouges émincés, ketchup et moutarde à l'ancienne</p>
            </div>
            <footer class="dish-price">
              <span class="price p-price">15,00 €</span>
            </footer>
          </div>
        </li>
      </div>

      <div class="dish-category-header">
        <h2 class="dish-category-title text-center" id="salades">Salades</h2>
      </div>
      <div class="dish-list">
        <li>
          <div class="dish-card hvr-border-fade">
            <div class="dish-info">
              <h3 class="dish-name">Niçoise</h3>
              <p class="dish-description">Pain aux céréales, steak façon bouchère VBF, cheddar anglais maturé 9 mois, salade de saison, rondelles de tomates fraîches et oignons rouges émincés, ketchup et moutarde à l'ancienne</p>
            </div>
            <footer class="dish-price">
              <span class="price p-price">10,00 €</span>
            </footer>
          </div>
        </li>
        <li>
          <div class="dish-card">
            <div class="dish-info">
              <h3 class="dish-name">Italienne</h3>
              <p class="dish-description">Pain aux céréales, steak façon bouchère VBF, cheddar anglais maturé 9 mois, salade de saison, rondelles de tomates fraîches et oignons rouges émincés, ketchup et moutarde à l'ancienne</p>
            </div>
            <footer class="dish-price">
              <span class="price p-price">12,00 €</span>
            </footer>
          </div>
        </li>
        <li>
          <div class="dish-card hvr-shadow-radial">
            <div class="dish-info">
              <h3 class="dish-name">Parisienne</h3>
              <p class="dish-description">Pain aux céréales, steak façon bouchère VBF, cheddar anglais maturé 9 mois, salade de saison, rondelles de tomates fraîches et oignons rouges émincés, ketchup et moutarde à l'ancienne</p>
            </div>
            <footer class="dish-price">
              <span class="price p-price">13,50 €</span>
            </footer>
          </div>
        </li>
        <li>
          <div class="dish-card">
            <div class="dish-info">
              <h3 class="dish-name">Salade de pâtes</h3>
              <p class="dish-description">Pain aux céréales, steak façon bouchère VBF, cheddar anglais maturé 9 mois, salade de saison, rondelles de tomates fraîches et oignons rouges émincés, ketchup et moutarde à l'ancienne</p>
            </div>
            <footer class="dish-price">
              <span class="price p-price">14,20 €</span>
            </footer>
          </div>
        </li>
        <li>
          <div class="dish-card">
            <div class="dish-info">
              <h3 class="dish-name">Caprese</h3>
              <p class="dish-description">Pain aux céréales, steak façon bouchère VBF, cheddar anglais maturé 9 mois, salade de saison, rondelles de tomates fraîches et oignons rouges émincés, ketchup et moutarde à l'ancienne</p>
            </div>
            <footer class="dish-price">
              <span class="price p-price">15,00 €</span>
            </footer>
          </div>
        </li>
      </div>

      <div class="dish-category-header">
        <h2 class="dish-category-title text-center" id="desserts">Desserts</h2>
      </div>
      <div class="dish-list">
        <li>
          <div class="dish-card hvr-border-fade">
            <div class="dish-info">
              <h3 class="dish-name">Tiramisu</h3>
              <p class="dish-description">Pain aux céréales, steak façon bouchère VBF, cheddar anglais maturé 9 mois, salade de saison, rondelles de tomates fraîches et oignons rouges émincés, ketchup et moutarde à l'ancienne</p>
            </div>
            <footer class="dish-price">
              <span class="price p-price">10,00 €</span>
            </footer>
          </div>
        </li>
        <li>
          <div class="dish-card">
            <div class="dish-info">
              <h3 class="dish-name">Panacotta</h3>
              <p class="dish-description">Pain aux céréales, steak façon bouchère VBF, cheddar anglais maturé 9 mois, salade de saison, rondelles de tomates fraîches et oignons rouges émincés, ketchup et moutarde à l'ancienne</p>
            </div>
            <footer class="dish-price">
              <span class="price p-price">12,00 €</span>
            </footer>
          </div>
        </li>
        <li>
          <div class="dish-card hvr-shadow-radial">
            <div class="dish-info">
              <h3 class="dish-name">Mousse au chocolat</h3>
              <p class="dish-description">Pain aux céréales, steak façon bouchère VBF, cheddar anglais maturé 9 mois, salade de saison, rondelles de tomates fraîches et oignons rouges émincés, ketchup et moutarde à l'ancienne</p>
            </div>
            <footer class="dish-price">
              <span class="price p-price">13,50 €</span>
            </footer>
          </div>
        </li>
        <li>
          <div class="dish-card">
            <div class="dish-info">
              <h3 class="dish-name">Tarte tatin</h3>
              <p class="dish-description">Pain aux céréales, steak façon bouchère VBF, cheddar anglais maturé 9 mois, salade de saison, rondelles de tomates fraîches et oignons rouges émincés, ketchup et moutarde à l'ancienne</p>
            </div>
            <footer class="dish-price">
              <span class="price p-price">14,20 €</span>
            </footer>
          </div>
        </li>
        <li>
          <div class="dish-card">
            <div class="dish-info">
              <h3 class="dish-name">Paris Brest</h3>
              <p class="dish-description">Pain aux céréales, steak façon bouchère VBF, cheddar anglais maturé 9 mois, salade de saison, rondelles de tomates fraîches et oignons rouges émincés, ketchup et moutarde à l'ancienne</p>
            </div>
            <footer class="dish-price">
              <span class="price p-price">15,00 €</span>
            </footer>
          </div>
        </li>
      </div>

    </div>
  </section>
</div>
 -->
