<!-- Appeler ici le footer et la navbar, ainsi que la structure de la page
(deux colones pour les résultats). Le contenu des cards de résultat
sera appelé via requête AJAX. Pour créer le css et le contenu des cards
il faut le faire dans foodora.html.erb et deliveroo.html.erb
 -->


<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <div class="col-xs-6">
        <div id="restaurants-list">
            <h1>test<h1>
        </div>
      </div>
      <div class="col-xs-6">
        <div id="restaurants-list-2">
            <h1>test<h1>
        </div>
      </div>
    </div>
  </div>
</div>

