
<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <div class="col-xs-6">
        <div id="restaurant-menu-1">
            <h1><%= params[:food_type_1] %><h1>
              <input type="hidden" id="food_type_1" value="<%= params[:food_type_1] %>">
        </div>
      </div>
      <div class="col-xs-6">
        <div id="restaurant-menu-2">
            <h1><%= params[:food_type_2] %><h1>
              <input type="hidden" id="food_type_2" value="<%= params[:food_type_2] %>">
        </div>
      </div>
    </div>
  </div>
</div>
