<div class="container" id="show-general">
  <div class="row">
    <div class="col-xs-6">
      <div class="restaurant-menu-1">
        <%= render "foodora_show" %>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="restaurant-menu-2">
        <%= render "deliveroo_show" %>
      </div>
    </div>
  </div>
</div>
