.btn-primary {
  margin-top:50px;
}

.search-form {
  // padding: 40px;
}

.form-control {
  height: 35px;
}

.eat {
  margin-right: 10px;
  // margin-left: 20px;
  // padding: 10px;
}

#home {
  display:flex;
  justify-content: space-around;
}

// #home-2 {
//   margin-bottom: 250px;
// }

#button-eat{
  // margin-right: 10px;
  margin-bottom:50px;
  background-color:$gray-base;
  color: $green;
  border: none;
}

#user_input_autocomplete_address {
  min-width: 350px;
  height: 36px;
}

/* Selectize.js */

.selectize {
  min-width: 200px;
}
